@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@media only screen and (max-width: 600px) {
    .calc{
        
        margin-left: 40px !important;
        overflow-y: hidden;
    }
    .grphrow{
        margin-left: 30px !important;
        margin-top: 30px !important;
        margin-right: 7px;
        
        
        }
        .graphpi{
            margin-left: 0px !important;
            margin-top: 50px !important;
            height: 400px;

        }
        .tablerow, .spanrow{
            margin-left: 30px !important;
            margin-right: 7px !important;
            margin-top: 50px !important;
        }
        input, .formbtn{
            width: 130% !important;
        }
        .formbtn{
            height: 50px;
        }
        .calc{
            height: 22rem !important;
        }
  }

.calc{
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5rem;
    box-shadow: 1px 4px 10px 1px rgba(77, 77, 77, 0.486);
    height: 20rem;

}

.head1, .head2, .head3 {
    font-size: 20px;
    margin-top: 10px;
}
.tabhead1, .tabhead2, .tabhead3{
    background-color: #f1c40f;
    height: 5rem;
    text-align: center;
    padding-top: 20px;
    margin-left: -15px;
    margin-right: -15px !important;
}
.tabhead2{
    background-color: #2ecc71 !important;
}
.tabhead3{
    background-color: #3498db !important;
}
.mainval{
    margin-top: 70px;
    font-size: 90px;
    color: #2c3e50;
}
.units{
    color: #2c3e50;
    font-size: 20px;
}


input{
    width: 100%;
    background-color: #F5F5F5 !important;
    border-radius: 0px !important;
    border: 0px !important;
    box-shadow: 1px 4px 10px 1px rgba(77, 77, 77, 0.486);


}
.formbtn{
    width: 100%;
    background-color: #e74c3c;
    color: azure;
    border-radius: 0px !important;
    border: 0px !important;
    box-shadow: 1px 4px 10px 1px rgba(77, 77, 77, 0.486);
}

.grphrow{
margin-left: 4rem;
margin-top: 50px;


}
.graphcol{
    box-shadow: 1px 4px 10px 1px rgba(77, 77, 77, 0.486);
   background-color: #ffffff48;

}
.graphpi{
    margin-left: 55px;
    padding-bottom: 20px;
}


.tablerow, .spanrow{
    margin-left: 4rem;
    margin-right: 11rem;
    margin-top: 50px;
    box-shadow: 1px 4px 10px 1px rgba(77, 77, 77, 0.486);

}